body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ff6347;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-card {
    background: #fff3e0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
    text-align: left;
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipe-card h3 {
    color: #ff6347;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.delete-btn:hover {
    background-color: darkred;
}

.back-btn {
    background: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}
